@media (max-width: 768px) {
  /* Remove hover no mobile */
  .card:hover .front,
  .card:hover .back {
    transform: none;
  }

  .front {
    transform: perspective(800px) rotateY(0deg);
  }

  .card.open .front {
    transform: perspective(800px) rotateY(-170deg);
  }

  .card.open .back {
    transform: perspective(800px) rotateY(-170deg);
  }

  /* Animação da imagem */
  .carta-img {
    opacity: 0;
    transform: translateY(25px) scale(0.9);
    transition: all 0.8s ease;
  }

  .card.open .carta-img {
    opacity: 1;
    transform: translateY(-18px) rotate(-3deg) scale(1);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.35);
    z-index: 10;
  }

  .img-container {
    position: relative;
    z-index: 10;
  }

  /* =========================
   CENTRALIZAÇÃO PERFEITA NO MOBILE
========================= */
  html,
  body {
    height: 100%;
    min-height: 100vh;
    min-height: 100svh;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-wrapper {
    position: static;
    height: auto;
    min-height: auto;
  }

  /* Ajuste fino da carta */
  .card {
    transform: scale(1.05);
  }
  
  .card.open {
    transform: scale(1.05);
  }
}